table.mainTable {width: 700px; float: left;}

.Stat {float: right; padding-right: 15px;}

.health {float: right;}

ul {margin: 0; padding: 0; list-style-type: none;}

body {font-size: 100%;}

h1 {margin: 3px}

.miscData {
    padding-left: 520px;
    width: 500px;
}

h4 {
    margin: 0px;
}

.Essence {
    float: none;
    padding: 0px;
}

.Virtue {
    float: none;
    padding: 0px;
}
